<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <jsp-config>
    <taglib>
      <taglib-uri>http://myapp.fr/tld/extratags</taglib-uri>
      <taglib-location>/WEB-INF/extratag.tld</taglib-location>
    </taglib>
  </jsp-config>
  <context-param>
    <param-name>DATABASE_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <display-name>LeBonCoin</display-name>
</web-app>